<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 규칙</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">홈</a>
      <a href="/board/notice">공지사항</a>
      <a href="/board/free">자유게시판</a>
      <a href="/board/question">질문게시판</a>
      <a href="/rules">규칙</a>
    </nav>
  </header>
  <main>
    <h1>게시판 규칙</h1>
    <p>1. 서로를 존중합시다.</p>
    <p>2. 스팸성 글을 올리지 맙시다.</p>
    <p>3. 규칙을 준수합시다.</p>
	<p>닉네임 말하기</p>
<p>남이 닉네임을 도용하면 신고게시판 에 신고해주시길 바랍니다</p>
<p>건의 사항은 건의' 게시판에</p>
<h1>운영자 목록</h1>
<p>운영자,kdy,JK</p>
  </main>
</body>
</html>
